body {
    flex: 1;
    display: flex;

    background-color: black;
}

.headerBar {
    flex: 1;
    /*
        the following two lines, are needed
        to center the name in the header bar.

        display: flex;
        justify-content: space-around;
    */
    display: flex;
    align-items: center;
    justify-content: space-around;

    background-color: purple;
    color: white;
}
